/* (*) selects every element in the html body  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7px;
    color: #777;
    padding: 1rem;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(169, 169, 169, 0.664), rgba(32, 32, 32, 0.938)), url(imges/backgroundImage.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0%, 100% 10vh, 0 50%);
}

.heading-primary {
    color: white;
}

.heading-primary-main {
    margin-top: 5rem;
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2.5rem;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    padding-top: 8%;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.8rem;
    animation-name: moveInRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
}

.text-box {
    position: absolute;
    top: 10%;
    left: 5%;
    transform: translate(-5%, -5%);
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-4rem);
    }
    80% {
        transform: translateX(2rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(40rem);
    }
    80% {
        transform: translateX(-2rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.login-form {
    margin-top: -60rem;
    left: 60%;
    margin-left: -10rem;
    height: 32rem;
    width: 35%;
    position: fixed;
    border-radius: 0.5rem;
    background-color: #f2f2f2;
    padding: 2rem;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
}

input[type=text],
select {
    width: 100%;
    padding: 1.2rem 2rem;
    margin: 1.8rem 0;
    display: inline-block;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    box-sizing: border-box;
    font-size: 1.8rem;
}

input[type=submit] {
    width: 100%;
    background-color: rgba(128, 128, 128, 0.842);
    color: white;
    padding: 1.4rem 2rem;
    margin: 1.8rem 0;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 2rem;
}

input[type=submit]:hover {
    background-color: rgba(255, 0, 0, 0.562);
}